<!doctype html>
<html ng-app="WeatherBigBrother">
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Weather BIG BROTHER</title>
        <link rel="icon" type="image/png" href="images/favicon.png" />

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="fancybox/jquery.fancybox-v=2.1.5.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/font-awesome.min.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="css/style.css">	
	
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	

		
</head>

<body ng-controller="MapController">
	<div class="navbar navbar-static-top" data-activeslide="1">
            <div class="col-sm-1">
                <img id="logo" src="images/favicon.png" />
            </div>
		
			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			
                        
			<div id="nav" class="nav-collapse collapse navbar-responsive-collapse container">
				<ul class="nav row">
					<li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="#slide-1" title="Next Section"><span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
					<li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="#slide-2" title="Next Section"><span class="icon icon-user"></span> <span class="text">ABOUT US</span></a></li>
					<li data-slide="6" class="col-12 col-sm-2"><a id="menu-link-6" href="#slide-6" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li>
				</ul>
				<div class="row">
					<div class="col-sm-2 active-menu"></div>
				</div>
			</div><!-- /.nav-collapse -->
	</div><!-- /.navbar -->

	
	
	<!-- === MAIN Background === -->
        <div class="slide" id="baseCarte">
            <img src ="images/MAPOK.jpg" />
                <div ng-repeat="point in points" ng-click="getWeatherForCity(point.city);" class="pointVille" style="top: {{coordPoint(point, 'top');}}; left: {{coordPoint(point, 'left');}}; right: {{coordPoint(point, 'right');}}; bottom: {{coordPoint(point, 'bottom');}};"></div>
        </div>

        
<!-- Modal -->
<div class="modal fade" id="modalWeatherForCity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{cityWeather.name}}</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-lg-2">
                <img ng-src="http://openweathermap.org/img/w/{{cityWeather.weather[0].icon}}.png"  /> 
              </div>
              <div class="col-lg-4">
                    {{cityWeather.weather[0].description}}
              </div>
              <div class="col-lg-4">
                  Wind force : {{toKMH(cityWeather.wind.speed);}} km/h 
              </div>
              <div class="col-lg-2">
                  <img id="windDirection" src="./images/wind.png" />
              </div>
          </div>
          <div class="row">
              Temperature : {{toCelsius(cityWeather.main.temp);}} °C
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info moreInfo">More Info about {{cityWeather.name}}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	

	
</body>

	<!-- SCRIPTS -->
        <script src="js/angular.min.js"></script>
	<script src="js/html5shiv.js"></script>
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/script.js"></script>
        <script src="js/angularScripts.js"></script>
	
	<script>
	$(document).ready(function(e) {
		var lis = $('.nav > li');
		menu_focus( lis[0], 1 );	
	});
	</script>

</html>